# Dependencies
node_modules/

# WhatsApp Web session persistence & cache
.wwebjs_auth/
.wwebjs_cache/

# Environment variables & instances
.env
data/instances.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db
